body {
    font-size: 1.3vw;
    background-color: #FFEC06;
    transition: 1s;
}

#root {
  overflow-x: hidden;
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #222725;
    font-weight: 900;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

p,span,small,label, button, input, textarea, li {
    font-family: 'Open Sans', sans-serif;
    color: #222725;
}

input, textarea {
    padding: .9em;
    width: 100%;
    background-color: #3d4340;
    border: none;
    font-size: 1em;
}

button {
    border: solid;
    border-width: 1px;
    border-color: #CC8E00;
    background-color: transparent;
    padding: .6em;
    font-size: 1em;
}

.subtitle span { 
    font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
    color: #CC8E00 !important;
=======
    color: #626362;
>>>>>>> dev
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3em;
    margin-left: 1em;
}

a {
<<<<<<< HEAD
    color: #CC8E00;
=======
    color: #222725;
>>>>>>> dev
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

li {
    list-style: none;
    font-weight: 900;
<<<<<<< HEAD
    color: #CC8E00;
    font-family: 'Open Sans', sans-serif;
}

=======
    color: #222725;
    font-family: 'Open Sans', sans-serif;
}

.bg-black {
    background-color: #0c0e0d !important;
}

.bg-yellow {
    background-color: #FFEC06 !important;
}

.black {
    color: #222725 !important;
}

>>>>>>> dev
.poppins {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #222725;
}

.hero-title span {
    display: inline-block !important;
}

.details-link {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-weight: 900;
    margin-left: .5em;
    position: relative;
}

.details-link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 2px;
<<<<<<< HEAD
    background-color: #CC8E00;
=======
    background-color: #222725;
>>>>>>> dev
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.details-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
}

.enter-active {
    display: none;
}

.header-title {
    mix-blend-mode: exclusion;
    filter: invert(1) contrast(1);
    background-color: #0800ff;
    -webkit-background-clip: text;
    color: transparent;
}

.contact-button {
    transition: 1s;
}

.contact-button:hover {
    transform: rotate(320deg) scale(1.2) !important;
    background-color: white !important;
    color: black !important
}


/* mobile */

@media screen and (max-width : 420px)
{
  body {
      font-size: 2vw;
  }

  p,span,small,label, button, input, textarea, li, a {
      font-size: 2em;
  }

  .subtitle p { 
    letter-spacing: 1em;
    margin-left: 0;
  }
  
  .details-link {
    margin-left: 0;
  }

}

