html {
  scroll-behavior: smooth;
}

body {
    font-size: 1.3vw;
    background-color: #FFEC06;
    transition: 1s;
}

#root {
  overflow-x: hidden;
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #222725;
    font-weight: 900;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

p,span,small,label, button, input, textarea, li {
    font-family: 'Open Sans', sans-serif;
    color: #222725;
}

input, textarea {
    padding: .9em;
    width: 100%;
    background-color: #3d4340;
    border: none;
    font-size: 1em;
}

button {
    border: solid;
    border-width: 1px;
    border-color: white;
    background-color: #222725;
    padding: .6em;
    font-size: 1em;
}

.subtitle span { 
    font-family: 'Open Sans', sans-serif;
    color: #626362;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3em;
    margin-left: 1em;
}

a {
    color: #222725;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

li {
    list-style: none;
    font-weight: 900;
    color: #222725;
    font-family: 'Open Sans', sans-serif;
}

.bg-black {
    background-color: #222725 !important;
}

.black {
    color: #222725 !important;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #222725;
}

.hero-title span {
    display: inline-block !important;
}

.details-link {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-weight: 900;
    margin-left: .5em;
    position: relative;
}

.details-link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #222725;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.details-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
}

.enter-active {
    display: none;
}

.circle-color span {
    transition: .5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    cursor: pointer;
    position: relative;
}

.circle-color span:nth-child(1) { 
    z-index: 3;
}

.circle-color span:nth-child(2) { 
    transform: translateY(-5em);
    z-index: 2;
}
.circle-color span:nth-child(3) { 
    transform: translateY(-10em);
    z-index: 1;
}

.circle-color:hover span:nth-child(2) { 
    transform: translateY(0);
}

.circle-color:hover span:nth-child(3) { 
    transform: translateY(0);
}


/* mobile */

@media screen and (max-width : 420px)
{
  body {
      font-size: 2vw;
  }

  p,span,small,label, button, input, textarea, li, a {
      font-size: 2em;
  }

  .subtitle p { 
    letter-spacing: 1em;
    margin-left: 0;
  }
  
  .details-link {
    margin-left: 0;
  }

}

