html {
    overflow-x: hidden;
}

body {
    font-size: 1.3vw;
    background-color: #121113;
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #F7F7F2;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

.subtitle { 
    font-family: 'Open Sans', sans-serif;
    color: #899878;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4em;
    margin-left: 1em;
}

a,p,span,small,label, button, input, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #899878;
}

a {
    color: #899878;
    text-decoration: none;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
    color: #F7F7F2;
}

.hero-title span {
    display: inline-block !important;
}

.details-link {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-weight: 900;
    margin-left: .5em;
}


label {
    color: #F7F7F2;
}

input, textarea {
    padding: .9em;
    width: 100%;
    background-color: #222725;
    border: none;
    color: #F7F7F2;
    font-family: 'Open Sans', sans-serif;
}

button {
    border: solid;
    border-width: 1px;
    color: #F7F7F2;
    border-color: white;
    background-color: #222725;
    padding: .6em;
    font-family: 'Open Sans', sans-serif;
}
