@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 1vw;
}


h1, h2, h3, h4, p, strong, button, a, label, span, li, small{
  font-family: 'Poppins', sans-serif;
  color: white;
}

.blog-article .bar{
  transition: 1s;
  height: 0%;
}

.blog-article:hover .bar{
  height: 100%;
}

#project-button {
  transition: 0.5s;
  opacity: 0;
}

@media (max-width: 768px) { 
  html, body {
    font-size: 4vw;
  }
}
